:root {
  --fontSize: 16px;
  --chordFontSize: 20px;
  --lineHeightMultiplier: 4;
  --chordTopPositionMultiplier: -1.75;
  --chordVisibility: 'unset';
  --chordWidth: 0;
}

.lyricsWrapper {
  margin: 0;
  text-align: left;
  text-wrap: auto;
}

.chorus {
  border-left: var(--mui-palette-primary-main) 2.5px solid !important;
  padding-left: 1rem;
}

.verse {
  border-left: var(--mui-palette-Button-inheritContainedBg) 2.5px solid !important;
  padding-left: 1rem;
}

.interlude {
  padding: 0 0 0 1rem !important;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  border: none !important;
  line-height: unset !important;
  margin: 0 !important;
}

.section {
  text-wrap-style: balance;
  text-align: left;
  line-height: calc(var(--fontSize) * var(--lineHeightMultiplier));
  padding: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid var(--mui-palette-divider);
  font-size: var(--fontSize);
}
